<h1>Order#index</h1>
<p>Find me in app/views/order/index.html.erb</p>

<%# order container %>
<div class="container">
  <%# date time and order number %>
  <div class="row">
    <div class="col-sm-12">
      <h6>2018-11-17</h6>
      <h6>Order Number: </h6>
    <div>
  </div>

  <%# order details %>
  <div class="row">
    <%# order image, name, quantity, price %>
    <div class="col-sm-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-7">
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-1">
          </div>
        </div>
      </div>
    </div>
    <%# total_amout %>
    <div class="col-sm-3">

    </div>
  </div>

</div>