<header>
  <h1>Beauty Store</h1>

 <!-- nav pages -->
 <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/product">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
</ul>

</header>